
.parents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parents button {
    background-color: rgb(2, 2, 100);
    color: white;
    border: none;
    padding: 5px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    touch-action: manipulation;
  
  }
  .parents:hover {
    background-color: #3E4F63;
  }
  
  .parents button:active {
    background-color: #4F7186;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parents button:not(:first-child) {
    margin-top: 10px;
  }
  
  .Add{
    border-radius: 50%;
    position: absolute;
    top: 34%;
    left: 8%;
  }


  .input_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 29%;
    z-index: 3;
    }
    
    .input_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 44%;
    z-index: 3;
    }

    .input_container3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 25%;
      left: 59%;
      z-index: 3;
      }
    
    .input_container4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 25%;
      left: 74%;
      z-index: 3;
    }
    
      
    
    label {
    margin-bottom: 10px;
    }
    
    input[type="text"] {
    text-align: center;
    width: 80%;
    height: 3%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    }

  
.dropdown {
  background-color: darkgrey;
  color: white;
  width: 10%;
  height: 5%;
  font-size: 16px;
  padding: 0.1%;
  position: absolute;
  top: 25.25%;
  left: 6%;
  z-index: 3;
}


.Save {
  appearance: none;
  background-color: rgb(2, 2, 100);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
    top: 35%;
    left: 80%;
    height: 5%;
    width: 9%;
} 

.Save:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.Save:hover {
  background-color: #3E4F63;
}

.Save:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.Save:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.Save:active {
  background-color: #4F7186;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
  
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent button {
  background-color: white;
  color: red;
  border: none;
  padding: 5px;
  font-size: 70px;
  text-align: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease;

}

.parent button:active {
  background-color: white;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.delete1{
  border-radius: 50%;
  position: absolute;
  top: 23%;
  left: 92%;

}




/* redesigning */
.top_navigation {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 250%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-indent: -1100px;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 85%;
  height: 10%;
}

.Exercise {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 10%;
  height: 10%;
  z-index: 2;
}

.Weights {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 30%;
  width: 10%;
  height: 10%;
  z-index: 2;
}

.Sets {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 45%;
  width: 10%;
  height: 10%;
  z-index: 2;
}

.Reps {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 60%;
  width: 10%;
  height: 10%;
  z-index: 2;
}

.Rest {
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 10%;
  left: 75%;
  width: 10%;
  height: 10%;
  z-index: 2;
}

.New_exercise {
  background-color: lightgrey;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 23%;
  left: 5%;
  width: 85%;
  height: 10%;
  z-index: 2;
}

.form__group {
  position: absolute;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 20%;
  top:0%;
  left:39%;
  z-index:2;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: grey;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, black, black);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}



.back {
  appearance: none;
  background-color: transparent;
  border: 0px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 40px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
  top: -1%;
  left: -2%;
  height: 10%;
  width: 15%;
}

.back:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.back:hover {
  background-color: transparent;
}

.back:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.back:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.back:active {
  background-color: transparent;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
