*{
    margin: 0;
    padding: 0;
}
.parents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parents button {
    background-color: #9DB3BF;
    color: white;
    border: none;
    padding: 5px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
  
  }
  
  .parents button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parents button:not(:first-child) {
    margin-top: 10px;
  }
  
  .Add{
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 8%;
  }

  .name{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 5.75%;
  }


  .input_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 36%;
    }
    
    .input_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 52.25%;
    }

    .input_container3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 15%;
      left: 68.5%;
      }
    
    .input_container4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 15%;
      left: 85%;
    }
      
    
    label {
    margin-bottom: 10px;
    }
    
    input[type="text"] {
    text-align: center;
    width: 80%;
    height: 3%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    }

nav {
    background-color: lightgray;
    padding: 17px;
    text-align: center;
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    flex: 1;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: gray;
    color: white;
  }

  
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top : 17.5%;
  left : 19.75%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.Save {
  appearance: none;
  background-color: #4F7186;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
    top: 35%;
    left: 6%;
    height: 5%;
    width: 9%;
}

.Save:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.Save:hover {
  background-color: #3E4F63;
}

.Save:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.Save:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.Save:active {
  background-color: #4F7186;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
  
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent button {
  background-color: rgb(121, 5, 5);
  color: white;
  border: none;
  padding: 5px;
  font-size: 35px;
  text-align: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease;

}

.parent button:active {
  background-color: red;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.delete1{
  border-radius: 50%;
  position: absolute;
  top: 17%;
  left: 8%;
}

