.flex {
    display: flex;
    flex-direction: row;
}

.flex>.split {
    height: 100vh;
    overflow-y: scroll;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.heading {
    padding: 15px;
    background:  rgb(14, 161, 240) ;
    text-align: center;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    color: white;
    position: relative;
    width: 99%;
    letter-spacing: 2px;
}/* position: fixed; */
  /* CSS */
  .bench {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/bench.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* white-space: nowrap; */
    /* position: fixed; */
      top: 15%;
      left: 5%;
      height: 25%;
      width: 25%;
      text-align: center;
      vertical-align: top;
  }

  .benchspan {
      font-size: 22px;
      font-weight: 600;
      position: absolute;
      top: 20%;
      left: 46%;
      transform: translate(-50%, -50%);
    }
  
  .bench:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .bench:hover {
    background-color: #3E4F63;
  }
  
  .bench:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .bench:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .bench:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .overhead {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/Overhead.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* position: fixed; */
      top: 15%;
      left: 10%;
      height: 25%;
      width: 25%;
  }
  .overheadspan {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .overhead:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .overhead:hover {
    background-color: #3E4F63;
  }
  
  .overhead:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .overhead:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .overhead:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .squat {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/Squat.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* position: fixed; */
      top: 15%;
      left: 15%;
      height: 25%;
      width: 25%;
  }

  .squatspan {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .squat:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .squat:hover {
    background-color: #3E4F63;
  }
  
  .squat:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .squat:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .squat:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .deadlift {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/Row.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* position: fixed; */
      top: 30%;
      left: 5%;
      height: 25%;
      width: 25%;
  }

  
  .deadliftspan {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .deadlift:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .deadlift:hover {
    background-color: #3E4F63;
  }
  
  .deadlift:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .deadlift:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .deadlift:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .row {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/Deadlift.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* position: fixed; */
      top: 30%;
      left: 10%;
      height: 25%;
      width: 25%;
  }
  .rowspan {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .row:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .row:hover {
    background-color: #3E4F63;
  }
  
  .row:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .row:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .row:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .lat {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    background-image: url("../Images/Latpulldown.png");
    background-color:  rgb(2, 2, 100);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: "light";
    font-size: 22px;
    font-weight: 600;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* position: fixed; */
      top: 30%;
      left: 15%;
      height: 25%;
      width: 25%;
  }
  .latspan {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .lat:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .lat:hover {
    background-color: #3E4F63;
  }
  
  .lat:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .lat:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .lat:active {
    background-color: rgb(2, 2, 100);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  .back {
    appearance: none;
    background-color: transparent;
    border: 0px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 40px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
    top: -1%;
    left: -1%;
    height: 10%;
    width: 15%;
  }
  
  .back:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .back:hover {
    background-color: transparent;
  }
  
  .back:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .back:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .back:active {
    background-color: transparent;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .popup {
    background-color: white;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
    overflow: auto;
    }
    
    .popup-header {
    background-color: lightgray;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    }
    
    .popup-content {
    padding: 20px;
    }
    
    .close-popup-button {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    }

    .weight_button{
      appearance: none;
      background-color: rgb(2, 2, 100);;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: light;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
        top: 5%;
        left: 0%;
        height: 5%;
        width: 9%;
    }
    .volume_button{
      appearance: none;
      background-color: rgb(2, 2, 100);;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: light;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
        top: 5%;
        left: 0%;
        height: 5%;
        width: 9%;
    }




    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body{
    height: 100vh;
    display: flex;
    background: #4070f4;
    align-items: center;
    justify-content: center;
} */
.container{
    position: relative;
    top:10%;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 20px;
    width: 125%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}