*{
    margin: 0;
    padding: 0;
}

/* .user {
  position: fixed;
  top: 52%;
  left: 94%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: light;
  color: black;
  min-width: 1000px;
} */


.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px;
  font-size: 50px;
  height: 5%;
  width: 2.55%;
  cursor: pointer;
  transition: all 0.2s ease;

}

.parent button:active {
  background-color: transparent;
  box-shadow: 0 0 2px ;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.delete1 {
  border-radius: 50%;
  position: absolute;
  top: 42.5%;
  right: 8.5%;
}

.delete2 {
  border-radius: 50%;
  position: absolute;
  top: 61.5%;
  right: 8.5%;
}

.delete3 {
  border-radius: 50%;
  position: absolute;
  top: 81.5%;
  right: 8.5%;
}
/* CSS */
.back {
  appearance: none;
  background-color: transparent;
  border: 0px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
  top: 1%;
  left: 1%;
  height: 5%;
  width: 10%;
}

.back:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.back:hover {
  background-color: transparent;
}

.back:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.back:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.back:active {
  background-color: #FFFFFF;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* CSS */
.modify1 {
  appearance: none;
  background-color: grey;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
  top: 42.5%;
  right: 12%;
  height: 5%;
  width: 9%;
}

.modify1:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.modify1:hover {
  background-color: #3E4F63;
}

.modify1:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.modify1:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.modify1:active {
  background-color: #5F6E7F;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* CSS */
.modify2 {
  appearance: none;
  background-color: #5F6E7F;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
  top: 62.5%;
  right: 12%;
  height: 5%;
  width: 9%;
}

.modify2:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.modify2:hover {
  background-color: #3E4F63;
}

.modify2:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.modify2:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.modify2:active {
  background-color: #5F6E7F;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}



/* CSS */
.modify3 {
  appearance: none;
  background-color: #5F6E7F;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
  font-weight: light;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
    top: 82.5%;
    right: 12%;
    height: 5%;
      width: 9%;
}

.modify3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.modify3:hover {
  background-color: #3E4F63;
}

.modify3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.modify3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.modify3:active {
  background-color: #5F6E7F;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* CSS */
.start1 {
    appearance: none;
    background-color: rgb(2, 2, 100);;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: light;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 42.5%;
      right: 22%;
      height: 5%;
      width: 9%;
  }
  
  .start1:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .start1:hover {
    background-color: #3E4F63;
  }
  
  .start1:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .start1:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .start1:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  /* CSS */
  .start2 {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
          font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: light;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 62.5%;
      right: 22%;
      height: 5%;
      width: 9%;
  }
  
  .start2:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .start2:hover {
    background-color: #3E4F63;
  }
  
  .start2:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .start2:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .start2:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  
  
  /* CSS */
  .start3 {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
          font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: light;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 82.5%;
      right: 22%;
      height: 5%;
      width: 9%;
  }

  
  .start3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .start3:hover {
    background-color: #3E4F63;
  }
  
  .start3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .start3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .start3:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }


/* CSS */
.push{
  background-color: rgb(14, 161, 240);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-indent: -1100px;
  margin: 0;
  padding: 20px;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: fixed;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 10%;
}

.pull{
    background-color: #9DB3BF;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    text-align: center;
    text-indent: -1100px;
    margin: 0;
    padding: 10px 12px;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 10%;
}

.legs{
    background-color: #9DB3BF;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    text-align: center;
    text-indent: -1100px;
    margin: 0;
    padding: 10px 12px;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    top: 80%;
    left: 5%;
    width: 90%;
    height: 10%;
}

.new {
    appearance: none;
    background-color: rgb(2, 2, 100);;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: light;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 20%;
  }
  
  .new:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .new:hover {
    background-color: #2d3b4a;
  }
  
  .new:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .new:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .new:active {
    background-color: #5F6E7F;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
