*{
    margin: 0;
    padding: 0;
}
.back {
    appearance: none;
    background-color: #FFFFFF;
    border: 0px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 40px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
    top: 1%;
    left: 1%;
    height: 50px;
    width: 100px;
  }
  
  .back:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .back:hover {
    background-color: #FFFFFF;
  }
  
  .back:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .back:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .back:active {
    background-color: #FFFFFF;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  .Title-text {
    position: fixed;
    top: 60%;
    right: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-size: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
    min-width: 1000px;
  }
  /* CSS */
  .bench {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 15%;
      left: 5%;
      height: 250px;
      width: 250px;
  }
  
  .bench:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .bench:hover {
    background-color: #3E4F63;
  }
  
  .bench:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .bench:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .bench:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .overhead {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 15%;
      left: 25%;
      height: 250px;
      width: 250px;
  }
  
  .overhead:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .overhead:hover {
    background-color: #3E4F63;
  }
  
  .overhead:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .overhead:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .overhead:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .squat {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 15%;
      left: 45%;
      height: 250px;
      width: 250px;
  }
  
  .squat:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .squat:hover {
    background-color: #3E4F63;
  }
  
  .squat:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .squat:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .squat:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .deadlift {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 60%;
      left: 5%;
      height: 250px;
      width: 250px;
  }
  
  .deadlift:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .deadlift:hover {
    background-color: #3E4F63;
  }
  
  .deadlift:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .deadlift:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .deadlift:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .row {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 60%;
      left: 25%;
      height: 250px;
      width: 250px;
  }
  
  .row:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .row:hover {
    background-color: #3E4F63;
  }
  
  .row:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .row:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .row:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  /* CSS */
  .lat {
    appearance: none;
    background-color: #4F7186;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: top;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: fixed;
      top: 60%;
      left: 45%;
      height: 250px;
      width: 250px;
  }
  
  .lat:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .lat:hover {
    background-color: #3E4F63;
  }
  
  .lat:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .lat:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .lat:active {
    background-color: #4F7186;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  
  .side{
    height: 100vh;
    width: 33%;
    overflow: scroll;
  }
  
  .content{
    height: 100vh;
    width: 67%;
    overflow: scroll;
  }